.pie-header {

    display: flex;
    background-color: red;
    height: 35px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.carousel-padre {
    width: 50vw;
    margin: 0 auto;
    padding: 10px;

}

.ancho-carousel {
    width: 100%;
    flex-wrap: wrap;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: space-between;
    padding: 20px;
}

.row-card {
    --bs-gutter-x: -0.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: space-between;
    padding: 20px;

}

.card {
    margin: 5px;
}

.noticias {
    display: flex;
    background-color: red;
    height: 35px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.map {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.banner {
    width: 100%;
    height: auto;
}

element.style {
    max-width: 100%;
}

.h3-empresa {
    color: red;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding: 30px;

}

.empresa {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding: 30px;
}

.card-certificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-tanques{
    display: flex;
    justify-content: space-between;
    align-items: center;
}